@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "poppins" , sans-serif;
}

h1,h2{
  font-family: "Roboto", sans-serif;
}



@layer utilities{
  .gradient{
    background: linear-gradient(-45deg , #302b63,#00bf8f,#1cd8d2);
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out;
}
.card {
  width: 18%;
  margin: 1%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Image Section */
.card-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

/* Content Section */
.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 20px;
  transition: transform 0.5s ease, background 0.5s ease;
}

/* 🔥 Hover Effect */
.card:hover .card-image {
  transform: scale(1.1);
}

.card:hover .card-content {
  transform: translateY(-120px);
  background: #be185d;   /* pink shade */
  color: white;
}
